<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="description" content="Clone of the popular game pong">
  <meta name="keywords" content="HTML5,TypeScript,JavaScript,Phaser,game,browser-game">
  <meta name="author" content="ProfitWarning">

  <style>
    body {
      margin: 0px;
      /*This removes the border around the canvas that Phaser adds, making the game actually take up all the available space*/
    }
  </style>
</head>

<body>
</body>

</html>
